<app-header></app-header>
<div class="container-fluid h-100" style="background-color: aquamarine;">
  <div class="row h-100">
    <div
      id="sideNav"
      class="col-auto"
      [ngClass]="{ active: active }"
      style="background-color: chartreuse;"
    >
      side panel of container
    </div>
    <div
      id="main-content"
      class="col"
      [ngClass]="{ active: active }"
      style="background-color: cadetblue;"
    >
      <button
        type="button"
        (click)="onClick()"
        class="btn btn-primary float-right m-2"
      >
        Menu
      </button>
      Content
    </div>
  </div>
</div>
