<app-header></app-header>
<div class="container-fluid" style="background-color: aquamarine;">
  <div class="row">
    <div class="col-xl" style="background-color: chartreuse;">side</div>
    <div class="col-xl" style="background-color: cadetblue;">Content</div>
  </div>
</div>

<div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border bg-light">Custom column padding</div>
    <div class="col py-3 px-lg-5 border bg-light">Custom column padding</div>
  </div>
</div>
